:root {
    --main-white: #f0f0f0;
    --main-red: #b51a62;
    --main-pink: #c06c84;
    --main-purple: #57385c;
}

@media (max-width: 61.25em){
    html {
        font-size: 58%;
    }
}
@media (max-width: 75em){
    html {
        font-size: 60%;
    }
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
    display: block;
}
*, *::before, *::after {
    box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
}
head {
    display: none;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-white);
    display: block;
}
.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--main-red);
    box-shadow: 0 2px 0 rgb(0 0 0 / 40%);
    z-index: 10;
}
.nav-list a {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
}
.nav-list {
    display: flex;
    margin-right: 2rem;
}
.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}
h1 {
    font-size: 6rem;
}
h1, h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
}
h2 {
    font-size: 4.2rem;
}

.welcome-section > p {
    font-size: 2.5rem;
    font-weight: bold;
    font-style: italic;
    color: #ddddc7;
    margin-bottom: 0%;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/*SECCION DE PROYECTOS*/
.projects-section {
    text-align: center;
    padding: 10rem 2rem;
    background: var(--main-purple);
}
.projects-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid var(--main-white);
}
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}
.project {
    background: var(--main-pink);
    box-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
    border-radius: 2px;
}
a {
    text-decoration: none;
    color: var(--main-white);
}
.project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}
img {
    display: block;
    width: 100%;
}
.project-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.code {
    color: var(--main-purple);
    transition: color 0.3s ease-out;
}
.btn-show-all {
    font-size: 2rem;
    background: var(--main-pink);
    transition: background 0.3s ease-out;
    border-style: none;
    border-radius: 3px;
}
.btn-show-all > i {
    margin-left: 10px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
    font-size: 2rem;
    background: var(--main-pink);
}
/*DESCRIPCION PROYECTOS*/
.projects-description{
    background-color: var(--main-pink);
    text-align: center;
    padding: 5rem 2rem;
    display: none;
    margin-top: 5px;
}
ul {
    list-style: none;
}
li {
    display: block;
    text-align: left;
    margin-bottom: 1.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
.title{
    text-decoration: underline;
    color: #1f1f1f;
}
.link{
    color: #1f1f1f;
    text-decoration: underline;
}
.technologies{
    text-decoration: solid;
}
/*SECCION DE HABILIDADES*/
.skills{
    text-align: center;
    padding: 10rem 2rem;
    background: var(--main-pink);
}
.skills-header{
    max-width: 150px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.3rem solid var(--main-white);
}
.container{
    position: relative;
    min-height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-white);
    flex-wrap: wrap;
}
.content{
    position: relative;
    width: 300px;
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}
.content img{
    position: relative;
    width: 100px;
    height: 100px;
    padding: 10px;
}
.content h3{
    font-size: 18px;
    margin: 10px;
    text-transform: uppercase;
}

/*SECCION DE CONTACTO*/
.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background: var(--main-purple);
}
.contact-section-header > h2 {
    font-size: 6rem;
}
.contact-section-header > p {
    font-style: italic;
    font-size: 2.5rem;
}
.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}
.contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
}
.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
}
.fa, .fas {
    font-weight: 900;
}
.fa, .far, .fas, .fa-light {
    font-family: "Font Awesome 5 Free";
}
.fa-chevron-right:before {
    content: "\f054";
}
.fab {
    font-family: "Font Awesome 5 Brands";
}
.fa, .fab, .fal, .far, .fas, .fa-light {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

/*FOOTER*/
footer {
    font-weight: 200;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: var(--main-purple);
    border-top: 4px solid var(--main-red);
}
/*footer > p {
    margin: 2rem;
    
}*/

